HTML Discovery note

The non-normative description of embedding metadata in HTML should be in a separate note; this is currently part of #627.

@danbri, there's a simple experiment committed in 8b7bd5700230b3db7c38d5bb2617042f533505b2, which could just be merged to gh-pages, as it's only an experiment.

I'm working on another one to extract CSV from the HTML tables to see what that looks like.


I added two different HTML examples in PR #777. The first ([countries.html]() uses a `script` tag to hold the CSV which references external CSV files. This is pretty much already handled by my RDFa processor, which looks for script tags with `@type` that it understands (e.g., Turtle, JSON-LD) and hands off processing. In this case, finding `application/csvm+json` it hands it off to my rdf-tabular gem. I did need to make one change so that the base URL of the HTML document is passed along as the base URL of the extracted metadata son.

``` html
<html>
  <head>
    <title>Example of CSVW metadata in HTML referencing external CSV</title>
    <style type="text/css">
    /* Style Turtle script blocks to be visable */
    pre.example script {
        display:block;
    }
    </style>
  </head>
  <body>
    <p>This shows an example of embeddeding CSV metadata within an HTML document referencing an <a rel="describes" href="countries.csv">external CSV</a> which contains the following:</p>
    <table id="countries">
      <caption>Countries</caption>
      <tr><th>countryCode</th><th>latitude</th><th>longitude</th><th>name</th></tr>
      <tr><td>AD</td><td>42.5</td><td>1.6</td><td>Andorra</td></tr>
      <tr><td>AE</td><td>23.4</td><td>53.8</td><td>United Arab Emirates</td></tr>
      <tr><td>AF</td><td>33.9</td><td>67.7</td><td>Afghanistan</td></tr>
    </table>
    <table id="country_slice">
      <caption>Countries</caption>
      <tr><th>countryRef</th><th>year</th><th>population</th></tr>
      <tr><td>AF</td><td>1960</td><td>9616353</td></tr>
      <tr><td>AF</td><td>1961</td><td>9799379</td></tr>
      <tr><td>AF</td><td>1962</td><td>9989846</td></tr>
    </table>
    <p>The metadata is describe here in a script element:</p>
    <pre class="example">
      <script type="application/csvm+json">
      {
        "@context": "http://www.w3.org/ns/csvw",
        "tables": [{
          "url": "countries.csv",
          "tableSchema": {
            "columns": [{
              "name": "countryCode",
              "titles": "countryCode",
              "datatype": "string",
              "propertyUrl": "http://www.geonames.org/ontology{#_name}"
            }, {
              "name": "latitude",
              "titles": "latitude",
              "datatype": "number"
            }, {
              "name": "longitude",
              "titles": "longitude",
              "datatype": "number"
            }, {
              "name": "name",
              "titles": "name",
              "datatype": "string"
            }],
            "aboutUrl": "countries.csv{#countryCode}",
            "propertyUrl": "http://schema.org/{_name}",
            "primaryKey": "countryCode"
          }
        }, {
          "url": "country_slice.csv",
          "tableSchema": {
            "columns": [{
              "name": "countryRef",
              "titles": "countryRef",
              "valueUrl": "countries.csv{#countryRef}"
            }, {
              "name": "year",
              "titles": "year",
              "datatype": "gYear"
            }, {
              "name": "population",
              "titles": "population",
              "datatype": "integer"
            }],
            "foreignKeys": [{
              "columnReference": "countryRef",
              "reference": {
                "resource": "countries.csv",
                "columnReference": "countryCode"
              }
            }]
          }
        }]
      }
      </script>
    </pre>
    <p>The metadata is also <a rel="describedby" href="countries.json">described in JSON</a>.</p>
  </body>
</html>
```

The second (countries_embed.html) modifies the metadata to use fragment identifiers associated with tables in the HTML document itself (although, could be any HTML document). I made updates to rdf-tabular where I process the CSV (extract default metadata and process each row) to instead use some XPath to get the appropriate table contents:
- Rows with `th` are treated as header rows.
- Rows with `td` are treated as content rows.

Otherwise, processing works pretty much the same. One caveat is that we use explicit fragment identifiers (e.g., "#row=5") when constructing URIs, which clash with the fragment identifiers used in the URL. In this case, we'd probably need a special rule for this to use, e.g., `#countries_row=5` instead; not sure how to handle this given the row identification requirements in csv2rdf 4.6.5; not a problem with minimal output mode, though.

``` html
<html>
  <head>
    <title>Example of CSVW metadata in HTML referencing HTML tables</title>
    <style type="text/css">
    /* Style Turtle script blocks to be visable */
    pre.example script {
        display:block;
    }
    </style>
  </head>
  <body>
    <p>This shows an example of embeddeding CSV metadata within an HTML document referencing the following HTML tables which contains the following:</p>
    <table id="countries">
      <caption>Countries</caption>
      <tr><th>countryCode</th><th>latitude</th><th>longitude</th><th>name</th></tr>
      <tr><td>AD</td><td>42.5</td><td>1.6</td><td>Andorra</td></tr>
      <tr><td>AE</td><td>23.4</td><td>53.8</td><td>United Arab Emirates</td></tr>
      <tr><td>AF</td><td>33.9</td><td>67.7</td><td>Afghanistan</td></tr>
    </table>
    <table id="country_slice">
      <caption>Countries</caption>
      <tr><th>countryRef</th><th>year</th><th>population</th></tr>
      <tr><td>AF</td><td>1960</td><td>9616353</td></tr>
      <tr><td>AF</td><td>1961</td><td>9799379</td></tr>
      <tr><td>AF</td><td>1962</td><td>9989846</td></tr>
    </table>
    <p>The metadata is describe here in a script element:</p>
    <pre class="example">
      <script type="application/csvm+json">
      {
        "@context": "http://www.w3.org/ns/csvw",
        "tables": [{
          "url": "#countries",
          "tableSchema": {
            "columns": [{
              "name": "countryCode",
              "titles": "countryCode",
              "datatype": "string",
              "propertyUrl": "http://www.geonames.org/ontology{#_name}"
            }, {
              "name": "latitude",
              "titles": "latitude",
              "datatype": "number"
            }, {
              "name": "longitude",
              "titles": "longitude",
              "datatype": "number"
            }, {
              "name": "name",
              "titles": "name",
              "datatype": "string"
            }],
            "aboutUrl": "#countries_{countryCode}",
            "propertyUrl": "http://schema.org/{_name}",
            "primaryKey": "countryCode"
          }
        }, {
          "url": "#country_slice",
          "tableSchema": {
            "columns": [{
              "name": "countryRef",
              "titles": "countryRef",
              "valueUrl": "#countries_{countryRef}"
            }, {
              "name": "year",
              "titles": "year",
              "datatype": "gYear"
            }, {
              "name": "population",
              "titles": "population",
              "datatype": "integer"
            }],
            "foreignKeys": [{
              "columnReference": "countryRef",
              "reference": {
                "resource": "#countries",
                "columnReference": "countryCode"
              }
            }]
          }
        }]
      }
      </script>
    </pre>
    <p>The metadata is also <a rel="describedby" href="countries.json">described in JSON</a>.</p>
  </body>
</html>
```


Answering from a taxi stuck on the highway: isit so that an embedded json-ld (via script) has an implicit base set to the url of the enclosing HTML? I seem to remember that this is _not_ the case for embedded turtle, for example. I don't believe that is the case automatically for any embedded content via script...

Ivan

---

Ivan Herman
+31 641044153

(Written on my mobile. Excuses for brevity and frequent misspellings...)

> On 5 Nov 2015, at 04:01, Gregg Kellogg notifications@github.com wrote:
> 
> I added two different HTML examples in PR #777. The first (countries.html uses a script tag to hold the CSV which references external CSV files. This is pretty much already handled by my RDFa processor, which looks for script tags with @type that it understands (e.g., Turtle, JSON-LD) and hands off processing. In this case, finding application/csvm+json it hands it off to my rdf-tabular gem. I did need to make one change so that the base URL of the HTML document is passed along as the base URL of the extracted metadata son.
> 
> <html>
>   <head>
>     <title>Example of CSVW metadata in HTML referencing external CSV</title>
>     <style type="text/css">
>     /\* Style Turtle script blocks to be visable */
>     pre.example script {
>         display:block;
>     }
>     </style>
>   </head>
>   <body>
>     <p>This shows an example of embeddeding CSV metadata within an HTML document referencing an <a rel="describes" href="countries.csv">external CSV</a> which contains the following:</p>
>     <table id="countries">
>       <caption>Countries</caption>
>       <tr><th>countryCode</th><th>latitude</th><th>longitude</th><th>name</th></tr>
>       <tr><td>AD</td><td>42.5</td><td>1.6</td><td>Andorra</td></tr>
>       <tr><td>AE</td><td>23.4</td><td>53.8</td><td>United Arab Emirates</td></tr>
>       <tr><td>AF</td><td>33.9</td><td>67.7</td><td>Afghanistan</td></tr>
>     </table>
>     <table id="country_slice">
>       <caption>Countries</caption>
>       <tr><th>countryRef</th><th>year</th><th>population</th></tr>
>       <tr><td>AF</td><td>1960</td><td>9616353</td></tr>
>       <tr><td>AF</td><td>1961</td><td>9799379</td></tr>
>       <tr><td>AF</td><td>1962</td><td>9989846</td></tr>
>     </table>
>     <p>The metadata is describe here in a script element:</p>
>     <pre class="example">
>       <script type="application/csvm+json">
>       {
>         "@context": "http://www.w3.org/ns/csvw",
>         "tables": [{
>           "url": "countries.csv",
>           "tableSchema": {
>             "columns": [{
>               "name": "countryCode",
>               "titles": "countryCode",
>               "datatype": "string",
>               "propertyUrl": "http://www.geonames.org/ontology{#_name}"
>             }, {
>               "name": "latitude",
>               "titles": "latitude",
>               "datatype": "number"
>             }, {
>               "name": "longitude",
>               "titles": "longitude",
>               "datatype": "number"
>             }, {
>               "name": "name",
>               "titles": "name",
>               "datatype": "string"
>             }],
>             "aboutUrl": "countries.csv{#countryCode}",
>             "propertyUrl": "http://schema.org/{_name}",
>             "primaryKey": "countryCode"
>           }
>         }, {
>           "url": "country_slice.csv",
>           "tableSchema": {
>             "columns": [{
>               "name": "countryRef",
>               "titles": "countryRef",
>               "valueUrl": "countries.csv{#countryRef}"
>             }, {
>               "name": "year",
>               "titles": "year",
>               "datatype": "gYear"
>             }, {
>               "name": "population",
>               "titles": "population",
>               "datatype": "integer"
>             }],
>             "foreignKeys": [{
>               "columnReference": "countryRef",
>               "reference": {
>                 "resource": "countries.csv",
>                 "columnReference": "countryCode"
>               }
>             }]
>           }
>         }]
>       }
>       </script>
>     </pre>
>     <p>The metadata is also <a rel="describedby" href="countries.json">described in JSON</a>.</p>
>   </body>
> </html>
> The second (countries_embed.html) modifies the metadata to use fragment identifiers associated with tables in the HTML document itself (although, could be any HTML document). I made updates to rdf-tabular where I process the CSV (extract default metadata and process each row) to instead use some XPath to get the appropriate table contents:
> 
> Rows with th are treated as header rows.
> Rows with td are treated as content rows.
> Otherwise, processing works pretty much the same. One caveat is that we use explicit fragment identifiers (e.g., "#row=5") when constructing URIs, which clash with the fragment identifiers used in the URL. In this case, we'd probably need a special rule for this to use, e.g., #countries_row=5 instead; not sure how to handle this given the row identification requirements in csv2rdf 4.6.5; not a problem with minimal output mode, though.
> 
> <html>
>   <head>
>     <title>Example of CSVW metadata in HTML referencing HTML tables</title>
>     <style type="text/css">
>     /\* Style Turtle script blocks to be visable */
>     pre.example script {
>         display:block;
>     }
>     </style>
>   </head>
>   <body>
>     <p>This shows an example of embeddeding CSV metadata within an HTML document referencing the following HTML tables which contains the following:</p>
>     <table id="countries">
>       <caption>Countries</caption>
>       <tr><th>countryCode</th><th>latitude</th><th>longitude</th><th>name</th></tr>
>       <tr><td>AD</td><td>42.5</td><td>1.6</td><td>Andorra</td></tr>
>       <tr><td>AE</td><td>23.4</td><td>53.8</td><td>United Arab Emirates</td></tr>
>       <tr><td>AF</td><td>33.9</td><td>67.7</td><td>Afghanistan</td></tr>
>     </table>
>     <table id="country_slice">
>       <caption>Countries</caption>
>       <tr><th>countryRef</th><th>year</th><th>population</th></tr>
>       <tr><td>AF</td><td>1960</td><td>9616353</td></tr>
>       <tr><td>AF</td><td>1961</td><td>9799379</td></tr>
>       <tr><td>AF</td><td>1962</td><td>9989846</td></tr>
>     </table>
>     <p>The metadata is describe here in a script element:</p>
>     <pre class="example">
>       <script type="application/csvm+json">
>       {
>         "@context": "http://www.w3.org/ns/csvw",
>         "tables": [{
>           "url": "#countries",
>           "tableSchema": {
>             "columns": [{
>               "name": "countryCode",
>               "titles": "countryCode",
>               "datatype": "string",
>               "propertyUrl": "http://www.geonames.org/ontology{#_name}"
>             }, {
>               "name": "latitude",
>               "titles": "latitude",
>               "datatype": "number"
>             }, {
>               "name": "longitude",
>               "titles": "longitude",
>               "datatype": "number"
>             }, {
>               "name": "name",
>               "titles": "name",
>               "datatype": "string"
>             }],
>             "aboutUrl": "#countries_{countryCode}",
>             "propertyUrl": "http://schema.org/{_name}",
>             "primaryKey": "countryCode"
>           }
>         }, {
>           "url": "#country_slice",
>           "tableSchema": {
>             "columns": [{
>               "name": "countryRef",
>               "titles": "countryRef",
>               "valueUrl": "#countries_{countryRef}"
>             }, {
>               "name": "year",
>               "titles": "year",
>               "datatype": "gYear"
>             }, {
>               "name": "population",
>               "titles": "population",
>               "datatype": "integer"
>             }],
>             "foreignKeys": [{
>               "columnReference": "countryRef",
>               "reference": {
>                 "resource": "#countries",
>                 "columnReference": "countryCode"
>               }
>             }]
>           }
>         }]
>       }
>       </script>
>     </pre>
>     <p>The metadata is also <a rel="describedby" href="countries.json">described in JSON</a>.</p>
>   </body>
> </html>
> —
> Reply to this email directly or view it on GitHub.


No existing specs discuss setting base at all (Turtle or JSON-LD), so it is not inconsistent to do so. It may simply have been an omission, as most processing models always assume some document base. For CSV Metadata in HTML, having a base URL for the metadata is required, so a note describing embedding metadata in HTML would need to describe what the base URL for the metadata is.

We could mandate that all embedded metadata use `@base`, but it is often useful to use relative URLs in HTML, and tying an absolute URL to the metadata would make it less portable. I would say that we describe that the base of the HTML document is passed as the base URL for metadata processing (which can, of course, still be overwritted with `@base`).


@gkellogg what I was wondering about is the pattern you had in your example:

```
<table id="countries">
  ...
 </table>
...
<p>The metadata is describe here in a script element:</p>
<pre class="example">
  <script type="application/csvm+json">
  {
    "@context": "http://www.w3.org/ns/csvw",
    "tables": [{
      "url": "#countries",
      ...
```

My problem is how to specify that `#countries` will expand to the table with `id=countries`. While this is clearly what we want, I do not think the HTML processing rules are valid for that case, ie, that the fragment refers to the same HTML file.

I may be wrong, but we should check...


This works because the base URL of the metadata document is the same as the HTML document. Thus, if the document is at `http://example.com/embedded`, the `#countries` relative URL expands to `http://example.com/embedded#countries`.

In HTML, you can [establish a document fragment](html fragment identifier example) using `<a id="countries">..</a>`:

> Destination anchors in HTML documents may be specified either by the A element (naming it with the name attribute), or by any other element (naming with the id attribute).

A CSVW client will see the link to `http://example.com/embedded#countries`, retrieve `http://example.com/embedded` and locate the element associated with the `#countries` fragment, which must be a `table` element. We don't specify the way in which this fragment is resolved to an element, but XPath and CSS both provide a mechanism for doing this. My own Ruby code uses the Nokogiri/LibXML2 `find` method:

```
fragment = RDF::URI(table["url"]).fragment rescue nil
doc = Nokogiri::HTML.parse(input)
doc.search("##{fragment}").first if fragment
```


@gkellogg, my real question was whether

> This works because the base URL of the metadata document is the same as the HTML document. 

is indeed true or not. I first looked at the JSON-LD spec:

http://www.w3.org/TR/json-ld/#embedding-json-ld-in-html-documents

which is actually silent on this issue:-(. I then look at the Turtle spec 

http://www.w3.org/TR/turtle/#in-html-parsing

which actually does a better job, it says:

> The base URI of the encapsulating HTML document provides a "Base URI Embedded in Content" per RFC3986 section 5.1.1.

Ie, your statement _is_ right, but it is not backed up in the document. I think by adding a reference to RFC3986, like the Turtle spec does, takes care of this.


Technically, the embedded metadata is not JSON-LD, but application/csvm+json. The note defines how the base URI is set.

Gregg Kellogg
Sent from my iPhone

> On Dec 2, 2015, at 9:22 AM, Ivan Herman notifications@github.com wrote:
> 
> @gkellogg, my real question was whether
> 
> This works because the base URL of the metadata document is the same as the HTML document.
> 
> is indeed true or not. I first looked at the JSON-LD spec:
> 
> http://www.w3.org/TR/json-ld/#embedding-json-ld-in-html-documents
> 
> which is actually silent on this issue:-(. I then look at the Turtle spec
> 
> http://www.w3.org/TR/turtle/#in-html-parsing
> 
> which actually does a better job, it says:
> 
> The base URI of the encapsulating HTML document provides a "Base URI Embedded in Content" per RFC3986 section 5.1.1.
> 
> Ie, your statement is right, but it is not backed up in the document. I think by adding a reference to RFC3986, like the Turtle spec does, takes care of this.
> 
> —
> Reply to this email directly or view it on GitHub.


Sorry I cannot check right now, but it is worth checking what RFC3986 says. If it indeed defines base for all embedded content (this is what that Turtle text suggests) then it is worth referring to it. It makes our choice look less ad-hoc...

Ivan

---

Ivan Herman
Tel:+31 641044153
http://www.ivan-herman.net

(Written on mobile, sorry for brevity and misspellings...)

> On 2 Dec 2015, at 19:32, Gregg Kellogg notifications@github.com wrote:
> 
> Technically, the embedded metadata is not JSON-LD, but application/csvm+json. The note defines how the base URI is set.
> 
> Gregg Kellogg
> Sent from my iPhone
> 
> > On Dec 2, 2015, at 9:22 AM, Ivan Herman notifications@github.com wrote:
> > 
> > @gkellogg, my real question was whether
> > 
> > This works because the base URL of the metadata document is the same as the HTML document.
> > 
> > is indeed true or not. I first looked at the JSON-LD spec:
> > 
> > http://www.w3.org/TR/json-ld/#embedding-json-ld-in-html-documents
> > 
> > which is actually silent on this issue:-(. I then look at the Turtle spec
> > 
> > http://www.w3.org/TR/turtle/#in-html-parsing
> > 
> > which actually does a better job, it says:
> > 
> > The base URI of the encapsulating HTML document provides a "Base URI Embedded in Content" per RFC3986 section 5.1.1.
> > 
> > Ie, your statement is right, but it is not backed up in the document. I think by adding a reference to RFC3986, like the Turtle spec does, takes care of this.
> > 
> > —
> > Reply to this email directly or view it on GitHub.
> > 
> > —
> > Reply to this email directly or view it on GitHub.


RFC3986 says the following:

> 5.1.2.  Base URI from the Encapsulating Entity
> 
>   If no base URI is embedded, the base URI is defined by the representation's retrieval context.  For a document that is enclosed within another entity, such as a message or archive, the retrieval context is that entity.  Thus, the default base URI of a representation is the base URI of the entity in which the representation is encapsulated.

This agrees with our interpretation, and I'll add a reference in the note.
