Yakov's comments on the IANA considerations

Reproducing his email in the issue list so that we would not forget these:

>Just a few comments on this as it appears in this document:
>
>http://w3c.github.io/csvw/metadata/#iana-considerations
>
>1. "This section has not yet been submitted to the IESG for review, approval, and registration with IANA."
>
>As per RFC 6838, section 3.1, "requests made by other recognized standards organizations will be reviewed by the Designated Expert". The correct text would be:
>
> "This section has not yet been submitted to IANA for review, approval and registration"
>
> 2. "Security considerations:" - I would add: "of this specification"
>
> 3. "Applications that use this media type"
>
>I think the intent here is not to what is using this today but what applications will be using this.
>
> 4. Magic number(s): - I think that magic numbers are specific binary strings, what we are describing may be too vague.
>
> 5. "Person & email address to contact for further information:"
> Should that be a W3C contact? If this specification is a W3C spec, then there should remain a point of contact at the W3C even once this working group disbands. This way, someone looking at the IANA
registration would know where to go.
>
> 6. "Interoperability considerations:".
>
> I am not sure if this is the best place to put this but we may want to mention that this format is not the same as the existing "text/csv" and "text/tab-delimited-values" mediatypes.



Indeed, the contact should be me, sorry to have missed that. W3C has some special arrangements with IETF, and we will have to submit this to IETF via the IETF liaison (Philippe le Hégaret, I believe at LCCR phase). But this also means that the contact person should be from W3C which, in this case, is me…
