Default charset for CSV files

RFC4180 defines the default charset as US-ASCII because that was (at the time RFC4180 was written) the default charset for all `text/*` media types. This has been superseded with RFC6657. [Section 3 of RFC6657](http://tools.ietf.org/html/rfc6657#section-3) states "new subtypes of the "text" media type should not define a default "charset" value. If there is a strong reason to do so despite this advice, they should use the "UTF-8" [RFC3629] charset as the default."

Do we have a strong reason to specify a default charset? Should IETF be defining `application/csv` instead, to avoid doing unrecommended things with a `text/*` media type.


For the existing "text/csv" type, I plan to publish a new RFC amending the media type to do just that. For "non-text" MIME types, in the application tree, this is not an issue.

UPDATE: Actually scratch that - the current IANA registration already does that based on RFC 7111


For completeness, here is the [reference to Yakov's mail](http://www.w3.org/mid/CAPQd5oQYer6T1yOzdPeL3iS7wnwZm7tqMZZuhnZFrykPQf4EOg@mail.gmail.com) sent to the mailing list.


Thanks, I've removed the issue from the syntax document.


One more thing - while the default character set has changed, I don't believe the ABNF grammar has been updated
